<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"vayu/main-banner"} /-->
<!-- wp:pattern {"slug":"vayu/latest-products"} /-->
<!-- wp:pattern {"slug":"vayu/marquee"} /-->
<!-- wp:pattern {"slug":"vayu/promotion-gallery"} /-->
<!-- wp:pattern {"slug":"vayu/features-default"} /-->
<!-- wp:pattern {"slug":"vayu/image-with-description"} /-->
<!-- wp:pattern {"slug":"vayu/video-hero"} /-->
<!-- wp:pattern {"slug":"vayu/about-second"} /--> 
<!-- wp:pattern {"slug":"vayu/contacts"} /-->
<!-- wp:pattern {"slug":"vayu/testimonials"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->